* {
    padding: 0px;
    margin: 0px;
}
body {
    margin: 5px;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 17px;
}
a {
    color: black;
}
a:visit {
    color: black;
}
a:hover {
    color: white;
    background: black;
}
h1 {
    font-size: 14px;
    font-weight: 700;
}
h2 {
    font-size: 14px;
    font-weight: 700;
}
header {
    padding-bottom: 20px;
}
nav {
    padding-bottom: 20px;
}
.divider {
    padding-top: 20px;
    padding-bottom: 20px;
}
.syllabus {
    display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;
    padding-bottom: 10px;
    padding-top: 10px;
}
.syllabus h3 {
    width: 15%;
    font-size: 14px;
    font-weight: 700;
}
.class {
    width: 50%;
}
.class li {
    margin-left: 17px;


}

/* MOBILE
----------------------------------- */
@media only screen and (max-width: 715px) {
    .syllabus {
        display: block;
    }
    .syllabus h3 {
        width: 100%;
    }
    .class {
        width: 100%;
    }
